<!DOCTYPE html>
html(lang="en")
    head
        include partials/header
        script(src="https://www.gstatic.com/firebasejs/7.10.0/firebase-app.js")
        script(src="https://www.gstatic.com/firebasejs/7.10.0/firebase-auth.js")
        script(src="https://www.gstatic.com/firebasejs/7.10.0/firebase-analytics.js")
        script(src="/js/fireBase.js")
    body
    <body class="home">
    <h1 class="hReset">Reset Password</h1>
    <span class="SpanMessage">If you forget your password. put your email in the box to send a password recovery email:</span>
    <input class="EmailReset" type="email" id="emailR" placeholder="Email" autofocus required />
    <button class="BottonReset" id="ResetB" onclick="resetPass()"> Send </button>
    a(href="/iniciar-sesion") Back to the login page
    
</section>
<footer class="row right middle footerX">
    <figure class="logo">
        <img class="logo-W" src="dominio.png" alt="">
    </figure>
    <h3 class="footerText">Wolleken</h3>
</footer>    
</body>